.index_banner {
  background: linear-gradient(135deg, #0b0f29, #1b1f3a);
  position: relative;
  overflow: hidden;
  background-image: url('../../images/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: clamp(4rem, 6vw, 7rem) 0,0;

  &::before {
    content: "";
    position: absolute;
    top: -15rem;
    left: -15rem;
    width: 38rem;
    height: 38rem;
    background: radial-gradient(circle, rgba(0, 195, 255, 0.25), transparent);
    filter: blur(6rem);
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -12rem;
    right: -12rem;
    width: 42rem;
    height: 42rem;
    background: radial-gradient(circle, rgba(255, 0, 120, 0.2), transparent);
    filter: blur(7rem);
    z-index: 0;
  }

  .banner_content {
    color: #fff;
    position: relative;
    z-index: 2;
    animation: fadeUp 0.8s ease;

    h4 {
      font-size: clamp(1.6rem, 2vw, 2.2rem);
      font-weight: 400;
      margin-bottom: 1.4rem;
      letter-spacing: .5rem;
      font-style: italic;
      span {
        color: #00e0ff;
      }
    }

    h1 {
      font-size: clamp(1.8rem, 3vw, 3rem);
      font-weight: 700;
      margin-bottom: 2rem;
      line-height: 1.2;

      span {
        color: #00e0ff;
        font-size: 6rem;
      }
    }

    p {
      font-size: clamp(1.2rem, 1.8vw, 1.6rem);
      max-width: 90%;
      opacity: 0.9;
      margin-bottom: 3rem;
    }

   
  }
}

/* IMAGE + GRADIENT BORDER */
.banner_image {
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;

  .image {
    width: clamp(22rem, 40vw, 35rem);
    height: auto;
    border-radius: clamp(.5rem, 1.8vw, 1.5rem);
    position: relative;
    z-index: 1;
  }

  /* Overlay Big Text */
  h1 {
    position: absolute;
    right: 1rem;
    top: 0;
    z-index: 0;
    font-size: clamp(3rem, 6vw, 7rem);
    font-weight: 900;
    color: rgba(255, 255, 255, 0.07);
    letter-spacing: .5rem;
    text-transform: uppercase;
    animation: textanimate 4s all;
  }
}

/* Animated Border (REAL BORDER) */
.banner_image .image::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: clamp(.15rem, .25rem, .35rem);
  border-radius: inherit;
  background: linear-gradient(120deg, #ff007a, #00e0ff, #7a5cff, #ffcd00);
  background-size: 300% 300%;
  animation: borderAnim 6s linear infinite;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

/* Animation */
@keyframes borderAnim {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
