.future_projects_area {
  padding: clamp(3rem, 5vw, 5rem) 0;
  background-color: #f8f9fa;

  .section_header {
    text-align: center;
    margin-bottom: clamp(2rem, 4vw, 3rem);

    h2 {
      font-size: clamp(2rem, 3vw, 2.4rem);
      font-weight: 600;
      color: #111827;
    }

    p {
      font-size: clamp(1rem, 1.5vw, 1.2rem);
      color: #666;
      margin-top: 0.5rem;
    }
  }


  
}
// ================ future project css end here =================